/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-widgets {
  background-color: $footer-background-color;
  clear: both;
  padding-top: 40px;
}

.footer-widgets,
.footer-widgets a {
  color: $footer-color;
}

.footer-widgets input {
  border: 1px solid #333;
}

.footer-widgets a.button,
.footer-widgets a:hover {
  color: $footer-active-color;
}

.footer-widgets li {
  border-bottom: $footer-border;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.footer-widgets .widget {
  margin-bottom: 40px;
}

.footer-widgets p:last-child {
  margin-bottom: 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
  @include span(4 of 12);

  @include susy-breakpoint(max-width $breakpoint-large) {
    @include span(full);
  }
}

.footer-widgets-3 {
  @include last;
}

/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  background-color: #fff;
  font-size:        $footer-font-size;
  line-height:      $footer-line-height;
  padding:          40px 0;
  text-align:       center;
}

.site-footer p {
  margin-bottom: 0;
}
