/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
  background-color: #fff;
  min-height: 160px;

  .wrap {
    padding: 40px 0;

    @include susy-breakpoint(max-width 960px) {
      padding: 20px gutter();
    }
  }
}

/* ## Title Area
--------------------------------------------- */

.title-area {
  @include span(4 of 12);
  padding: 10px 0;

  .header-full-width & {
    @include span(full);
  }

  @include susy-breakpoint(max-width 960px) {
    @include span(full);
  }
}

.site-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;

  a,
  a:hover {
    color: #333;
  }

  .header-image & > a {
    background: url(public/images/logo.png) no-repeat left;
    float: left;
    min-height: 60px;
    width: 100%;
  }
}

.site-description {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.site-description,
.site-title {
  margin-bottom: 0;

  .header-image & {
    display: block;
    text-indent: -9999px;    
  }
}

@include susy-breakpoint(max-width 960px) {
  .site-description,
  .site-header .title-area,
  .site-header .search-form,
  .site-title {
    text-align: center;
  }

  .site-header .search-form {
    float: none;
    margin: 16px auto;
  }

  .header-image .title-area {
    background-position: center top;
  }
}


/* ## Widget Area
--------------------------------------------- */

.site-header .widget-area {
  @include span(8 of 12 last);
  text-align: right;

  @include susy-breakpoint(max-width 960px) {
    @include span(full);
  }
}
