/* ## Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  color:       genesis-style($heading, color);
  font-family: genesis-style($heading, font-family);
  font-weight: genesis-style($heading, font-weight);
  line-height: genesis-style($heading, line-height);
  margin:      0 0 10px;
}

h1 {
  font-size: genesis-style($heading, h1-font-size);
}

h2 {
  font-size: genesis-style($heading, h2-font-size);
}

h3 {
  font-size: genesis-style($heading, h3-font-size);
}

h4 {
  font-size: genesis-style($heading, h4-font-size);
}

h5 {
  font-size: genesis-style($heading, h5-font-size);
}

h6 {
  font-size: genesis-style($heading, h6-font-size);
}
