/* # Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 960px) {

  .genesis-nav-menu li,
  .site-header ul.genesis-nav-menu {
    float: none;
  }

  .genesis-nav-menu {
    text-align: center;
  }

  .genesis-nav-menu a,
  .genesis-nav-menu > .first > a,
  .genesis-nav-menu > .last > a {
    padding: 20px 16px;
  }

  .genesis-nav-menu li.right {
    display: none;
  }

}

@media only screen and (max-width: 800px) {

  body {
    background-color: #fff;
    font-size: 16px;
  }

  .archive-description,
  .author-box,
  .comment-respond,
  .entry,
  .entry-comments,
  .entry-pings,
  .sidebar .widget,
  .site-header {
    padding: 0;
  }

  .archive-pagination li a {
    margin-bottom: 4px;
  }

  .sidebar .widget.enews-widget {
    padding: 40px;
  }

}
