/* ## Typographical Elements
--------------------------------------------- */

body {
  background-color: genesis-style($body, background-color);
  color:            genesis-style($body, color);
  font-family:      genesis-style($body, font-family);
  font-size:        genesis-style($body, font-size);
  font-weight:      genesis-style($body, font-weight);
  line-height:      genesis-style($body, line-height);
  margin:           0;

  @include susy-breakpoint(max-width 800px) {
    background-color: genesis-style($body, small-background-color);
    font-size:        genesis-style($body, small-font-size);
  }
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
  transition: all 0.1s ease-in-out;
}

::selection {
  background-color: genesis-style($selection, background-color);
  color:            genesis-style($selection, color);
}

a {
  color:           genesis-style($link, color);
  text-decoration: genesis-style($link, text-decoration);
}

a:hover {
  color: genesis-style($link, active-color);
}

p {
  margin: 0 0 28px;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

b,
strong {
  font-weight: 700;
}

blockquote,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 40px;
}

blockquote::before {
  content:   "\201C";
  display:   block;
  font-size: 30px;
  height:    0;
  left:      -20px;
  position:  relative;
  top:       -10px;
}
