@import 'susy';

@import 'normalize';
@import 'reset';

@import 'variables';
@import 'functions';
@import 'mixins';

@import 'typography';
@import 'headings';
@import 'objects';
@import 'gallery';
@import 'forms';
@import 'tables';

body {
  margin: 20px;
}
