.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type='submit']:focus,
.widget_search input[type='submit']:focus {
  clip: auto !important;
  height: auto;
  width: auto;
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 15px 23px 14px;
  color: #333;
  background: #fff;
  z-index: 100000; // above WP toolbar
  text-decoration: none;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
}

.more-link {
  position: relative;
}

// Menu accessibility

.menu .menu-item {
  &:focus {
    position: static;
  }

  > a:focus + ul.sub-menu,
  &.sfHover > ul.sub-menu {
    left: auto;
    opacity: 1;
  }
}

// Skip links

.genesis-skip-link {
  margin: 0;

  li {
    height: 0;
    width: 0;
    list-style: none;
  }
}

// Display outline on focus

:focus {
  color: #333;
  outline: #ccc solid 1px;
}
